* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: rgb(20, 20, 20);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box {
    width: 15px;
    height: 15px;
    background-color: rgb(41, 41, 41);
    border-radius: 4px;
    cursor: pointer;
}

#container {
    display: grid;
    grid-template-columns: repeat(40, 1fr);
    gap: 5px;
    border: 2px gray solid;
    padding: 12px;
    border-radius: 16px;
}

.game-settings {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mode-btns {
    display: flex;
    gap: 32px;
}

.clear-btn {
    background-color: rgb(134, 134, 134);
    color: white;
    width: 176px;
    font-size: 1.1rem;
    border: none;
    padding: 8px 0;
    border-radius: 16px;
    margin-bottom: 16px;
    transition: background 0.3s ease;
}

.clear-btn:hover {
    background-color: rgb(71, 71, 71);
}

.switch-mode-btn {
    width: 144px;
    padding: 8px;
    border-radius: 16px;
    border: none;
    background-color: rgb(255, 143, 128);
    font-size: 1.1rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: background 0.3s ease;
}

#first-mode-sec:hover {
    background-color: rgb(173, 82, 82);
}

#second-mode-inf:hover {
    background-color: rgb(173, 82, 82)
}

.switch-mode-btn.active {
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(173, 82, 82);
}